body {
    margin: 0;
    position: relative;
}
#tmp-canvas {
    position: absolute;
        left: 0; 
        right: 0;
        bottom: 0; 
        top: 0;
}
canvas {
    background-image: url("./images/fabric.png");
}
.menu {
    width: 100vw;
    margin-top: 1em;
    z-index: 9999;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    margin: 0 10px;
}
button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}